In [1]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('test/dogs/dogs_n_cats.csv')

In [7]:
df.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [10]:
X_train = df.drop(['Вид'], axis=1)
y_train = df['Вид']

In [12]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [13]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [23]:
X_tst = pd.read_json('test/dogs/dataset_209691_15.txt')

In [24]:
X_tst

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      25    30.0         1        1                   0
1      31    37.2         1        1                   0
2      25    30.0         1        1                   0
3      33    39.6         1        1                   0
4      27    32.4         1        1                   0
..    ...     ...       ...      ...                 ...
95      6     2.4         1        0                   1
96     11     4.4         1        0                   1
97      6     2.4         1        0                   1
98      9     3.6         1        0                   1
99      9     3.6         1        1                   1

[100 rows x 5 columns]

In [25]:
res = clf.predict(X_tst)

In [26]:
list(res).count('собачка')

53