In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score

In [2]:
df = pd.read_csv('test/songs.csv')

In [5]:
X = df.drop(['song', 'year', 'artist', 'genre', 'lyrics'], axis=1)

In [6]:
y = df.artist

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [19]:
X_train

     length  commas  exclamations  colons  hyphens
200    3195      39             1       1        2
307    1693      11             0       0        1
44     3458      38             0       0       33
300     818       3             0       0        0
331    3100      66             0       0       51
..      ...     ...           ...     ...      ...
114    1520       8             0       0        6
220     967      16             0       0        0
152    1325      19             3       7        0
350     171       1             0       0        0
73     1350      42             0       0        3

[241 rows x 5 columns]

In [20]:
y_train

200         gangstarr
307              abba
44          gangstarr
300    blind-guardian
331         gangstarr
            ...
114              abba
220              abba
152              abba
350              abba
73               abba
Name: artist, Length: 241, dtype: object

In [40]:
max_depth_values = range(1, 100)
scores_data = pd.DataFrame()
for max_depth in max_depth_values:
    clf = DecisionTreeClassifier(criterion='entropy', max_depth=max_depth)
    clf.fit(X_train, y_train)
    train_score = clf.score(X_train, y_train)
    test_score = clf.score(X_test, y_test)
    mean_cross_score = cross_val_score(clf, X_train, y_train, cv=5).mean()
    scores_data = scores_data.append({'max_depth': max_depth,
                                      'train_score': train_score,
                                      'test_score': test_score,
                                      'mean_cross_score': mean_cross_score}, ignore_index=True)

In [41]:
scores_data_long = pd.melt(scores_data, id_vars='max_depth',
                           value_vars=['train_score', 'test_score','mean_cross_score'],
                           var_name='set_type', value_name='score')

In [42]:
scores_data_long.iloc[scores_data_long[scores_data_long.set_type == 'mean_cross_score'].score.idxmax()]

max_depth                 4.0
set_type     mean_cross_score
score                0.705697
Name: 201, dtype: object

---
Решение

In [21]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [35]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=99)

In [37]:
predictions = clf.predict(X_test)

In [38]:
precision = precision_score(y_test, predictions, average='micro')

In [39]:
precision

0.7226890756302521

In [51]:
df2 = pd.DataFrame(df).rename({'length': 'leng'})

In [52]:
df.equals(df2)

True